// ==========================================
//  Download-Btn.scss
// ==========================================

.download-btn {
  display: inline-block;
  height: rem-calc(46);

  & + .download-btn {
    margin-left: $gutter/2;
  }

  img {
    height: 100%;
    width: auto;
  }
}