// ==========================================
//  Features.scss
// ==========================================

.feature-header {
  font-size: rem-calc(28);
  max-width: rem-calc(550);
}

.feature-subheader {
  font-family: $font-family-sans-serif;
  font-size: rem-calc(18);
  font-weight: $font-weight-light;
  line-height: 2;
  margin-bottom: $column-gutter;
  max-width: rem-calc(550);
}

.feature-header,
.feature-subheader {
  margin-left: auto;
  margin-right: auto;

  @media #{$medium-up}{
    max-width: none;
  }
}

.feature-hero {
  text-align: center;
}

.feature {
  max-width: rem-calc(1024);
  margin: 0 auto;
  padding: $gutter-extra-large 0 $column-gutter;

  @media #{$medium-up}{
    padding: $column-gutter $gutter-split;
  }
}

.feature-bottom-hero {
  padding-bottom: 0;
}

.feature-extra {
  padding-bottom: $gutter-extra-large;
  padding-top: $gutter-extra-large;
}

.feature-extra-small {
  padding-bottom: $gutter-large;
  padding-top: $gutter-large;
}

.feature-extra-top {
  padding-top: $gutter-extra-large
}



// Medium & Up
@media #{$medium-up} {

  .feature-lower-copy {
    .feature-header {
      margin-top: 70%;
    }
  }

  .feature-middle-copy {
    .feature-header {
      margin-top: 45%;
    }
  }
}