// ==========================================
//  Footer.scss
// ==========================================

footer {
  background: $blue-shade;
  color: $white;
  padding: $column-gutter 0;
  width: 100%;

  a {
    color: $yellow;

    &:hover,
    &:focus {
      color: $yellow-tint;
    }

    &:active {
      color: $yellow-shade;
    }
  }

  .twitter-icon {
    margin-right: rem-calc(5);
    width: rem-calc(30);
  }
}

.copyright {
  font-size: rem-calc(14);
  margin: 0 auto $gutter-split;
  width: 100%;
  max-width: rem-calc(1024);

  @media #{$medium-up} {
    margin-bottom: 0;
    padding-left: $gutter-split;
    padding-right: $gutter-split;
  }
}