// ==========================================
//  Header.scss
// ==========================================

header {
  background: url('../img/header-bkg.jpg') no-repeat center -100px;
  color: $blue;
  width: 100%;

  .feature {
    padding-top: $column-gutter;
  }

  .feature-subheader {
    margin-bottom: $column-gutter;
  }

  @media #{$large-up} {
    height: rem-calc(680);
    background-position: center 0;
    
    .feature-header,
    .feature-subheader {
      color: $white;
    }
  }


  .download-btn {
    & + .download-btn {
      margin-left: rem-calc(5);
      
      @media #{$large-up} {
        margin-left: $gutter-split;
      } 
    }
  }

}

.logo {
  display: block;
  margin: 0 auto rem-calc(60);
  max-width: rem-calc(400);
  width: 100%;

  @media #{$large-up} {
    height: rem-calc(60);
    margin-bottom: rem-calc(120);
    margin-left: -5px;
    width: rem-calc(255);
  } 
}

.header-hero-wrapper {
  @media #{$large-up}{
    margin-top: rem-calc(-120);
  }
}

.header-hero {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: rem-calc(300);

  @media #{$large-up} {
    width: auto;
    max-width: 100%;
  }
}