// ==========================================
//  Layout.scss
// ==========================================

.content {
  max-width: rem-calc(1024);
  margin: 0 auto;
  padding: $gutter $gutter/2;
}

.content-bottom {
  padding-bottom: 0;
}

.content-extra {
  padding-bottom: $gutter*3;
  padding-top: $gutter*3;
}

.content-extra-top {
  padding-top: $gutter*3;
}

.secondary-bkg {
  background: $gray-extra-light;
}