// ==========================================
//  Settings.scss
// ==========================================


// Vehichaul
// ==========================================

// Type
$font-weight-light: 300;


// Color
$white: #fff;
$black: #000;

$blue: #0d2838;
$blue-tint: #2f5063;
$blue-shade: #031723;

$yellow: #d9b347;
$yellow-tint: #f9d672;
$yellow-shade: #96720d;

$gray: #4a4b4c;
$gray-light: #868789;
$gray-extra-light: #f2f2f2;
$gray-dark: #0b0c0d;


// Layout
$column-gutter: rem-calc(30);
$gutter-split: $column-gutter/2;
$gutter-large: $column-gutter*2;
$gutter-extra-large: $column-gutter*3;




// Foundations Overrides
// ==========================================

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-serif: 'Merriweather', serif;

// We use these to define default font weights
$font-weight-normal: 400;

// We use these to control various global styles
$body-font-color: $gray;

// We use this to control whether or not CSS classes come through in the gem files.
$include-print-styles: false;

// Media Query Ranges
$small-range: (0, 47.9375em); // 0 - 767
$medium-range: (48em, 64em); // 768 - 1024


// We use these to control header font styles
$header-font-family: $font-family-serif;
$header-font-color: $gray;
