// ==========================================
//  Variables.scss
// ==========================================


// Type
$sans-serif-font-family: 'Source Sans Pro', sans-serif;
$serif-font-family: 'Merriweather', serif;

$font-weight-normal: 400;
$font-weight-light: 300;

$rem-base: 16;


// Color
$white: #fff;
$black: #000;

$blue: #0d2838;
$blue-tint: #2f5063;
$blue-shade: #031723;

$yellow: #d9b347;
$yellow-tint: #f9d672;
$yellow-shade: #96720d;

$gray: #4a4b4c;
$gray-light: #868789;
$gray-dark: #0b0c0d;


// Layout
$gutter: rem-calc(30px);