// ==========================================
//  Vehichaul.scss
// ==========================================


@import "functions.scss";

@import "variables.scss";
@import "base.scss";
@import "layout.scss";
@import "header.scss";

.download-btn {
  display: block;
  float: left;
  height: rem-calc(46);

  &:first-child {
    margin-right: $gutter/2;
  }

  img {
    height: 100%;
    width: auto;
  }
}