<div class="small-12 large-6 columns text-center">
  <a href="index.html" class="logo"><img src="img/vehichaul-logo.svg" alt="VehicHaul" /></a>
</div>
<div class="small-12 large-6 columns text-center large-text-right">
  <nav class="site-nav">
    <ul>
      <li><a href="index.html" {% if page.url == "/index.html" %} class="is-active-page" {% endif %}>Features</a></li>
      <li><a href="faq.html" {% if page.url == "/faq.html" %} class="is-active-page" {% endif %}>FAQ</a></li>
    </ul>
  </nav>
</div>