<div class="small-12 large-3 columns text-center">
  <a href="/" class="logo"><img src="/img/vehichaul-logo.svg" alt="VehicHaul" /></a>
</div>
<div class="small-12 large-9 columns text-center large-text-right">
  <nav class="site-nav">
    <button class="mobile-menu-btn">Menu</button>
    <ul>
      <li><a href="/" {% if page.url == "/" %} class="is-active-page" {% endif %}>Features</a></li>
      <li><a href="/why" {% if page.url == "/why/" %} class="is-active-page" {% endif %}>Why VehicHaul</a></li>
      <li><a href="/faq" {% if page.url == "/faq/" %} class="is-active-page" {% endif %}>FAQ</a></li>
      <li><a href="/articles" {% if page.url == "/articles/" %} class="is-active-page" {% endif %}>Articles</a></li>
      <li><a href="/contact" class="{% if page.url == "/contact/" %} is-active-page {% endif %}">Contact</a></li>
      <li><a href="https://register.vehichaul.com/" class="button ghost bright small{% if page.url == "/register/" %} is-active-page {% endif %}">Register</a></li>
    </ul>
  </nav>
</div>
