.contact-form {
  margin: rem-calc(12) auto 0;
  max-width: rem-calc(550);

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    background: $gray-extra-light;
    border: none;
    display: block;
    padding: rem-calc(12);
    width: 100%;
    height: auto;
  }

  button[type="submit"] {
    @include button($bg: $yellow, $bg-hover:$yellow-tint);
    width: 100%;
    display: block;

    &:disabled {
      background: $gray-light;
    }
  }

  @media #{$large-up}{
    max-width: none;

    button[type="submit"] {
      width: auto;
    }
  }
}

.contact-message {
  display: none;

  &.positive-message {
    color: #3a9930;
  }

  &.negative-message {
    color: #993131;
  }
}