// ==========================================
//  Header.scss
// ==========================================

$logo-height-large-screen: rem-calc(60);


.site-header {
  background: url('../img/header-bkg.jpg') no-repeat center -100px;
  color: $blue;
  width: 100%;

  .feature {
    padding-top: $column-gutter;
  }

  .feature-subheader {
    margin-bottom: $column-gutter;
  }

  &.hero {
    @media #{$large-up} {
      background-position: center 0;
      padding-bottom: $column-gutter*2;
    }
  }


  .download-btn {
    & + .download-btn {
      margin-left: rem-calc(5);

      @media #{$large-up} {
        margin-left: $gutter-split;
      }
    }
  }

}

.logo {
  display: block;
  margin: 0 auto rem-calc(10);
  max-width: rem-calc(400);
  width: 100%;

  @media #{$large-up} {
    height: $logo-height-large-screen;
    margin-bottom: 0;
    margin-left: -5px;
    width: rem-calc(255);
  }
}

.site-nav {
  margin-bottom: $gutter-large;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;    
  }

  li {
    display: inline-block;
    margin: 0 $gutter-split;
  }

  a {
    color: $white;
    font-size: $h5-font-size;
    letter-spacing: 0.1em;
    padding: rem-calc(3) rem-calc(7);
    text-transform: uppercase;

    &:hover,
    &.is-active-page {
      background-color: $white;
      color: $blue;
    }

    &:active {
      background-color: $gray-extra-light;
      color: $blue-shade;
    }
  }

  @media #{$large-up} {
    margin-bottom: 0;
    margin-top: rem-calc(15);
  }
}

.hero-header-standard {
  font-size: rem-calc(48);
  color: $yellow;

  @media #{$large-up} {
    margin-top: rem-calc(30);
  }
}

.hero-header {
  font-size: rem-calc(48);

  @media #{$large-up} {
    margin-top: rem-calc(-30);
  }
}

.hero-subheader {
  @include subheader-copy;
  font-size: rem-calc(24);

  .split {
    display: block;

    @media #{$large-up} {
      display: inline;
    }
  }
}

.header-hero-img {
  position: relative;
  margin: -20px auto 0;
  display: block;
  width: 100%;
  max-width: rem-calc(300);

  @media #{$large-up} {
    width: auto;
    max-width: 100%;
  }
}

.hero-copy {
  @include subheader-copy;
  margin: 0 auto $column-gutter;
  max-width: rem-calc(550);

  @media #{$large-up} {
    max-width: rem-calc(800);
  }
}
