// ==========================================
//  Layout.scss
// ==========================================

.secondary-bkg {
  background: $gray-extra-light;
}

.img-bkg {
  background: url('../img/country-road.jpg') no-repeat center bottom;
  padding: rem-calc(20) $gutter-split;
  max-height: rem-calc(450);

  .feature-header,
  .feature-subheader {
    color: $white;
  }

  @media #{$large-up} {
    padding-top: rem-calc(95);
    padding-bottom: rem-calc(120);
  }
}

.page-content {
  margin: 0 auto;
  padding: $column-gutter $column-gutter $gutter-extra-large;
  max-width: $max-content-width;

  & > section {
    padding: $gutter-large 0; 
    text-align: center;

    .feature-subheader {
      max-width: rem-calc(750);
    }
  }
}

.page-content-header {
  margin-bottom: $gutter-large;
  background: rgba($yellow-tint, 0.2);
  padding: rem-calc(60) rem-calc(40);
  font-size: $h5-font-size;
  line-height: 1.8;
}