.site-nav {
  margin-bottom: 0;
  margin-top: rem-calc(5);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
  }

  li {
    display: inline-block;
    margin: 0 $gutter-split;
  }

  a {
    color: $white;
    font-size: $h5-font-size;
    letter-spacing: 0.1em;
    padding: rem-calc(3) 0;
    text-transform: uppercase;
    font-weight: 300;
    border-bottom: 2px solid transparent;


    &:hover,
    &.is-active-page {
      border-color: $white;
    }

    &:active {
      border-color: $yellow;
      color: $yellow;
    }
  }

  .mobile-menu-btn {
    display:none;
  }

  @media #{$menu-breakpoint}{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba($blue-shade, 0.85);
    text-align: center;
    padding: 0 rem-calc(10);
    z-index:9999;
    margin-top: 0;

    .mobile-menu-btn {
      background: none;
      display: block;
      width: 100%;
      font-size:$h6-font-size;
      font-weight: normal;
      text-transform:uppercase;
      letter-spacing:0.1em;
      padding: rem-calc(5) 0;
      margin-bottom:0;
      border-bottom: 1px solid transparent;
    }

    &.site-nav-is-open {

      .mobile-menu-btn {
        border-bottom-color: $blue-tint;
      }

      ul {
        display: block;
      }
    }
  
    ul {
      display:none;
    }

    li {
      display: block;
      margin: rem-calc(20) 0;
    }
  }
}