<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VehicHaul {% if page.title %}: {{ page.title }}{% endif %}</title>
    <meta name="description" content="VehicHaul features innovative vehicle mobile technology that simplifies vehicle transportation visibility for unlimited VINs.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/vehichaul.css">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300" rel="stylesheet" type="text/css">
  </head>
  <body>

    {{ content }}


    <div class="secondary-bkg">
      <div class="feature feature-extra-small text-center">
        <a class="download-btn" href="https://itunes.apple.com/US/app/id965566788" target="_blank"><img src="/img/app-store-btn.png" alt="Download VehicHaul for iOS from the Apple App Store" /></a>

        <a class="download-btn" href="https://play.google.com/store/apps/details?id=vehichaul.backupparachute.com.vehichaul&hl=en" target="_blank"><img src="/img/google-play-btn.png" alt="Download VehicHaul for Android from the Google Play Store" /></a>
      </div>
    </div>

  <footer>
    <div class="row">
      <div class="small-12 large-5 columns">
        <p class="copyright text-center large-text-left">Copyright &copy; 2015 <a href="http://www.backupparachute.com" target="_blank">Backup Parachute Software LLC</a></p>
      </div>
      <div class="small-12 large-2 text-center large-text-right columns">
        <p class="text-center large-text-center">888-865-2012</p>
      </div>
      <div class="small-12 large-5 text-center large-text-right columns">
        <img class="twitter-icon" src="/img/twitter-bird-blue.svg" alt="Follow VehicHaul on Twitter" /><a href="http://www.twitter.com/vehichaul" target="_blank">@vehichaul</a>
      </div>
    </div>
  </footer>
  
  {% if page.url == "/contact/" %}
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="/libs/foundation-5.5.0/js/foundation/foundation.js"></script>
  <script src="/libs/foundation-5.5.0/js/foundation/foundation.abide.js"></script>

  <script>
    $(document).foundation({
      abide : {
        patterns: {
          phone: /^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$/
        }
      }
    });

    var $contact  = $('#contact-form'),
        $message  = $('.contact-message'),
        $submit   = $contact.find('button[type="submit"]'),
        messageTimer;

    $contact.on('valid.fndtn.abide', function (e) {
      if(e.namespace != 'abide.fndtn') {
        return;
      }

      $submit.attr('disabled', true);

      $.ajax({
        dataType: 'jsonp',
        url: "http://getsimpleform.com/messages/ajax?form_api_token=aaede9209746a6f2b1b9b9325f7d468c",
        data: $contact.serialize()
      }).done(function() {
        $message.text('Your message has been submitted.').removeClass('negative-message').addClass('positive-message').show();
        $contact[0].reset();

        if(messageTimer) clearTimeout(messageTimer);
          messageTimer = setTimeout(function(){
          $message.hide();
        }, 5000);
      }).always(function(){
        $submit.attr('disabled', false);
      }).fail(function(jqXHR, textStatus){
        if(messageTimer) clearTimeout(messageTimer);
        $message.text('An error has occurred ['+textStatus+'].').removeClass('positive-message').addClass('negative-message').show();
      });
    });

    $contact.on('focus', 'input, textarea', function(){
      if(messageTimer) clearTimeout(messageTimer);
      $message.hide();
    });
  </script>
  {% endif %}

  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-49943523-2');ga('send','pageview');
  </script>
</body>
</html>
